<a href={{chartLink}} target="_blank" class="table-cell">
  {{#if (eq currency 'BTC')}}
    <b>BTC</b>/XRP
  {{else}}
    XRP/<b>{{currency}}</b>
  {{/if}}
</a>
<span class="table-cell td2">(<i>{{name}}</i>): </span>
<i class="table-cell td3 {{color}}">
  {{#if rate}}
    {{rate}}
  {{else}}
    checking...
  {{/if}}
</i>
