{{#main-box title="Choose a Ripple tool"}}
  <center>
    {{link-to "Ripple account activation" "activation" tagName="button"}}
    <button onclick="location.href='https://bithomp.com/explorer/';">Block explorer</button>
    <button onclick="location.href='https://bithomp.com/create/';">New account</button>
    {{link-to "Exchange" "exchange" tagName="button"}}
    <div class="table">
      {{xrp-price currency='USD' issuer='rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B'}}
      {{xrp-price currency='JPY' issuer='r94s8px6kSw1uZ1MV98dhSRTvc6VMPoPcN'}}
      {{xrp-price currency='CNY' issuer='rnuF96W4SZoCJmbHYBFoJZpR8eCaxNvekK'}}
      {{xrp-price currency='KRW' issuer='rPxU6acYni7FcXzPCMeaPSwKcuS2GTtNVN'}}
      {{xrp-price currency='EUR' issuer='rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq'}}
    </div>
  </center>
{{/main-box}}
