{{#main-box title="Choose a Ripple tool" fullFooter=true}}
  <center>

    <div class="table buttons">
      <div class="table-row">
        <div class="table-cell td1">
          <a href='/explorer/' class="button">Ripple explorer</a>
        </div>
        <div class="table-cell td2">
          <a href='/activation/' class="button">Account activation</a>
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell td1">
          {{link-to "Ripple info" "statistics" class="button"}}
        </div>
        <div class="table-cell td2">
          {{link-to "Learn more" "learn" class="button"}}
        </div>
      </div>
      <div class="table-row">
        <div class="table-cell td1">
          {{link-to "Account generator" "create" class="button"}}
        </div>
        <div class="table-cell td2">
          <a href='/accounts/' class="button">Activated accounts</a>
        </div>
      </div>
    </div>

    {{!link-to "Exchange" "exchange" tagName="button"}}
    <div class="table">
      {{xrp-price currency='USD' issuer='rvYAfWj5gh67oV6fW32ZzP3Aw4Eubs59B'}}
      {{xrp-price currency='JPY' issuer='r94s8px6kSw1uZ1MV98dhSRTvc6VMPoPcN'}}
      {{xrp-price currency='CNY' issuer='rnuF96W4SZoCJmbHYBFoJZpR8eCaxNvekK'}}
      {{xrp-price currency='KRW' issuer='rPxU6acYni7FcXzPCMeaPSwKcuS2GTtNVN'}}
      {{xrp-price currency='EUR' issuer='rhub8VRN55s94qWKDv6jmDy1pUykJzF3wq'}}
    </div>

    <hr>
    <h2>Bithomp statistics</h2>
    <div class="table statistics">
      <div class="table-row">
        <div class="table-cell td1">
          Explored at Bithomp:
        </div>
        <div class="table-cell td2 blue bold">
          {{#if explored}}
            {{add-commas explored}}
            {{#if exploredProcent}}
              ({{exploredProcent}}%)
            {{/if}}
          {{else}}
            updating...
          {{/if}}
        </div>
      </div>
    </div>

    <hr>
    <h2>Download Desktop Wallet</h2>
    <p class="smallsize"><a href="https://github.com/karl-os/XRP-CHAT-WALLET/releases" target="_blank">XRP CHAT WALLET 1.4.0-rc3</a>, provided by <a href="https://github.com/karl-os/" target="_blank"><i>karl-os</i></a></p>
    <a href='https://github.com/karl-os/XRP-CHAT-WALLET/releases/download/1.4.0-rc3/xrp-chat-wallet-WIN32.zip' class="button"><i class="fa fa-windows"></i> Windows 7/10</a>
    <a href='https://github.com/karl-os/XRP-CHAT-WALLET/releases/download/1.4.0-rc3/xrp-chat-wallet-OSX32.zip' class="button"><i class="fa fa-apple"></i> Mac OS X</a>
    <a href='https://github.com/karl-os/XRP-CHAT-WALLET/releases/download/1.4.0-rc3/xrp-chat-wallet-LINUX32.zip' class="button"><i class="fa fa-linux"></i> Linux</a>

  </center>
{{/main-box}}
